*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    position: relative;
    display: flex;
    justify-content: center;
}
.todo{
    width: 100%;
    max-width: 540px;
    background-color: white;
    border: 4px solid rgb(72, 3, 59);
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 37%;
    padding: 0px 40px 60px 40px;
    
}
.todo h2{
    color: rgb(3, 109, 67);
}
img{
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.heading{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    position: realative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    /* padding: 10px; */
    margin-top: 20px;
    border-radius: 30px;
    margin: 20px auto;
    border: 2px solid brown;
}
input{
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 10px;
}
button.todo-btn{
    width: 25%;
    padding: 15px 30px;
    outline: none;
    border: none;
    background-color: orangered;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
ul li{
    list-style: none;
    padding: 12px 16px 10px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    /* border-radius: 50%; */
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 48px;
}
ul li.checked{
    color: rgb(126, 137, 147);
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(/images/checked.png);
}

ul li span{
    position: absolute;
    right: 40px;
    height: 25px;
    width: 25px;
    background-color:#edeef0;
    border-radius: 50%; 
    font-size: 20px;
    text-align: center;
    
    
}

#reset{
    position: absolute;
    right: 154px;
}

.login-container {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    background: bisque;
}
div#log-in {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 10px 6px 15px 15px; */
    height: 300px;
    height: none;
    background: #edeef0db;
    width: 40%;
    border-radius: 5px;
    border: 0px solid midnightblue;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2 {
    font-size: 2rem;
    color: blueviolet;
    text-align: center;
    margin-top: 1rem;
}

.input-container {
    /* text-align: left; */
    align-items: left;
    top: 25%;
    left: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* flex-wrap: wrap; */
}
.field-container {
    position: absolute;
    top: 25%;
    left: 25%;
}
.field {
    padding: 1rem;
    /* border: 1px solid; */
    margin-bottom: 1rem;
}
input#field-1 {
    /* color: white; */
    /* border-radius: 10%; */
    text-align: center;
    height: 25px;
    background: gainsboro;
    outline: thin;
    border: 1px solid red;
}
input#field-2 {
    /* color: white; */
    /* border-radius: 10%; */
    text-align: center;
    height: 25px;
    background: gainsboro;
    outline: thin;
    border: 1px solid red;
}

button.login-btn {
    opacity: .7;
    outline: none;
    border: none;
    width: 100%;
    background: cornflowerblue;
    height: 2rem;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 800;
    color: black;
}
button.login-btn:hover {
    opacity: 1;
    background: burlywood;
}










